<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Displaying the details of user</h1>
firstname: <%=@user.firstname%>
lastname: <%=@user.lastname%>

designation: <%=@user.designation%>

origin: <%=@user.origin%>
<%= link_to"home",root_path%>


</body>
</html>